*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    background-color: #ff6900;
}

.flex{
    display: flex;
}

.container{
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
}

