*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* NAV BAR RULES */
header{
    background-color: #ff6900;
}

.flex{
    display: flex;
}

.container{
    width: 80%;
    margin: 0 auto;
}

nav div.container{
    justify-content: space-between;
}

.brand{
    width: 20%;
}

.brand img{
    width: 100%;
}

.icons img{
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.category, .icons{
    column-gap: 10px;
    align-items: center;
}

.category a{
    color: white;
    text-decoration: none;
}

.category, .icons, .brand{
    padding: 10px 0;
}

/* MAIN RULES */
.row{
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0 1rem;
}

.product-container{
    width: calc(100% / 3 - 20px);
    border: 1px solid black;
}

.product-container img{
    width: 100%
    
}

.description-box :nth-child(1), .description-box :nth-child(2){
    display: block;
}

.bold{
    font-weight: bold;
}

.text-red{
    color: red;
}

.text-gray{
    color: gray;
}

.alternative-image{
    display: none;
}

.model-container:hover :nth-child(1){
    display: none;
}

.model-container:hover :nth-child(2){
        display: block;
}