*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* NAV BAR RULES */
header{
    background-color: #ff6900;
    width: 100%;
    position: fixed;
    z-index: 5;
}

main{
    padding-top: 60px;
}


.flex{
    display: flex;
}

.container{
    width: 80%;
    margin: 0 auto;
}

nav div.container{
    justify-content: space-between;
}

.brand{
    width: 20%;
}

.brand img{
    width: 100%;
}

.icons img{
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
}

.category, .icons{
    column-gap: 13px;
    align-items: center;
    font-size: 1.2rem;
}

.category a{
    color: white;
    text-decoration: none;
}

.category, .icons, .brand{
    padding: 10px 0;
}

/* MAIN RULES */
.row{
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0 1rem;
}

.product-container{
    width: calc(100% / 3 - 20px);
}

.product-container img{
    width: 100%
    
}

.description-box :nth-child(1), .description-box :nth-child(2){
    display: block;
}

.bold{
    font-weight: bold;
}

.text-red{
    color: red;
}

.text-gray{
    color: gray;
}

.alternative-image{
    display: none;
}

.model-container:hover :nth-child(1){
    display: none;
}

.model-container:hover :nth-child(2){
        display: inline-block;
}

.model-container{
    position: relative;
}

.favorite{
    position: absolute;
    top: 2%;
    right: 2%;

    font-size: 1.2rem;
    padding: 6px 12px;
    border-radius: 50%;
}

.favorite:hover{
    border: 1px solid red;
    color: red;
}

.discount{
    position: absolute;
    left: 0;
    bottom: 10%;

    background-color: rgb(197, 44, 44);
    color: white;
    padding: 2px 10px;
}

.eco-label{
    position: absolute;
    left: 15%;
    bottom: 10%;

    background-color: #2cad2a;
    color: white;
    padding: 2px 10px;
}